.about-me {

}

.about-me__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me__header h1 {

}

.about-me__block {
  display: flex;
  gap: 80px;
}

.about-me__block p:first-child {
  margin-top: 0;
}

.about-me__img {
  min-width: 780px;
  height: 570px;
}

.about-me__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me__signature {
  font-family: 'Eskal Font4You', cursive;
  font-size: 40px;
  color: #131f9d;
  opacity: 0.9;
  text-align: right;
  display: block;
  user-select: none;
  margin-top: 24px;
  letter-spacing: 0;
  font-weight: 400;
}