.about-me {

}

.about-me__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.about-me__header h1 {
  margin-bottom: 0;
}

.about-me__block {
  display: flex;
  gap: 80px;
}

.about-me__block p:first-child {
  margin-top: 0;
}

.about-me__img {
  min-width: 60%;
  height: 570px;
  border: 1px solid #e9eaf1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px 2px;
  border-radius: 12px;
  overflow: hidden;
}

.about-me__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me__signature {
  font-family: 'Eskal Font4You', cursive;
  font-size: 40px;
  color: #0b1708;
  opacity: 0.9;
  text-align: right;
  display: block;
  user-select: none;
  margin-top: 24px;
  letter-spacing: 0;
  font-weight: 400;
}

.about-me__header .desktop {
  display: inline;
}

.about-me__header .mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .about-me__img {
    min-width: 50%;
    height: 35vw;
  }

  .about-me__block {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .about-me__block {
    flex-direction: column-reverse;
  }

  .about-me__img {
    min-width: 50%;
    height: inherit;
  }

  .about-me__signature {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 500px) {
  .about-me__header .btn-secondary {
    display: inline-flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    height: inherit;
    padding: 0;
    border-radius: 0;
    transition: all .2s ease-out;
    gap: 4px;
    background: transparent;
    box-shadow: none;
  }

  .about-me__header .btn-secondary img {
    width: 15px;
    height: 15px;
  }

  .about-me__header .desktop {
    display: none;
  }

  .about-me__header .mobile {
    display: inline;
  }
}