.contact {
  padding-bottom: 120px;
}

.contact__header {

}

.contact__block {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  width: 100%;
}

.contact__left {
  display: flex;
  gap: 32px;
}

.contact__qr {
  min-width: 150px;
  height: 150px;
}

.contact__qr img {
  max-width: 100%;
  max-height: 100%;
}

.contact__text {
  max-width: 390px;
  padding-top: 12px;
}

.contact__text p:first-child {
  margin-top: 0;
}

.contact__actions {
  display: flex;
  gap: 12px;
}

.contact__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px;
  border: 1px solid #e9eaf1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px 2px;
  border-radius: 12px;
}

.contact__abov-cam {
  text-align: right;
  font-size: 0.9em;
}

.contact__webcam {
  width: 295px;
  height: 165px;
  border-radius: 15px;
  margin-top: 4px;
  background-image: url("/public/imgs/webcamPhoto.webp");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
}

.contact__webcam-micro {
  background: rgba(34, 34, 34, 0.7);
  color: white;
  padding: 4px 12px;
  border-radius: 8px 0 15px 0;
  font-family: 'Ubuntu', serif;
  font-size: 0.8em;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.contact__webcam-micro img {
  width: 16px;
  height: 16px;

}