.experience {

}

.experience__header {

}

.experience__timeline {

}

.experience__timeline-point {
  display: flex;
  gap: 32px;
}

.experience__date {
  width: calc(50% + 64px);
  text-align: right;
  padding: 4px 32px 16px 0;
  margin: 0;
  border-right: 2px solid var(--border-color);
  position: relative;
  flex: 1;
  top: 4px;
}

.experience__date::after {
  content:url("data:image/svg+xml,<svg width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><circle cx='10' cy='10' r='8' fill='rgb(27,27,27)'/></svg>");
  position: absolute;
  border-radius: 50%;
  background: var(--bg);
  border: 2px solid var(--border-color);
  width: 20px;
  height: 20px;
  right: -13px;
  top: 0px;
}

.experience__timeline-point:last-child .experience__work {
  padding-bottom: 0px;
}

.experience__timeline-point:last-child .experience__stack {
  margin-bottom: 0;
}

.experience__timeline-point:last-child .experience__date::before {
  content: "";
  width: 1px;
  height: 48px;
  border-right: 2px dashed var(--border-color);
  position: absolute;
  right: -2px;
  top: 198px;
}

.experience__work {
  flex: 1;
  padding-top: 0px;
  padding-bottom: 48px;
}

.experience__position-icon {
  width: 30px;
  height: 30px;
}

.experience__position {
  display: flex;
  align-items: center;
  gap: 8px;
}

.experience__company {

}

.experience__company img {
  width: 1em;
  height: 1em;
  position: relative;
  top: 3px;
}

.experience__stack {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
}

.experience__stack li {

}


