.experience {

}

.experience__header {

}

.experience__timeline {

}

.experience__timeline-point {
  display: flex;
  gap: 32px;
}

.experience__date {
  width: calc(50% + 64px);
  text-align: right;
  padding: 16px 32px 16px 0;
  margin: 0;
  border-right: 2px solid var(--border-color);
  position: relative;
  flex: 1;
}

.experience__date::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: var(--bg);
  border: 2px solid var(--border-color);
  width: 20px;
  height: 20px;
  right: -13px;
}



.experience__work {
  flex: 1;
  padding-top: 11px;
  padding-bottom: 48px;
}

.experience__position-icon {
  width: 30px;
  height: 30px;
}

.experience__position {
  display: flex;
  align-items: center;
  gap: 8px;
}

.experience__company {
  margin-top: 4px;
}

.experience__company img {
  width: 1em;
  height: 1em;
  position: relative;
  top: 3px;
}

.experience__stack {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
}

.experience__stack li {

}

.experience__timeline-point:nth-child(2n) {
  flex-direction: row-reverse;
}

.experience__timeline-point:nth-child(2n) .experience__date {
  border-left: 2px solid var(--border-color);
  border-right: none;
  text-align: left;
  padding: 16px 0 16px 32px;
}

.experience__timeline-point:nth-child(2n) .experience__date::after {
  right: auto;
  left: -13px;
}

.experience__timeline-point:nth-child(2n) .experience__work > * {
  text-align: right;
}

.experience__timeline-point:nth-child(2n) .experience__stack {
  justify-content: right;
}

.experience__timeline-point:nth-child(2n) .experience__position {
  justify-content: right;
  flex-direction: row-reverse;
}
