.skills {

}

.skills__header {

}

.skills__block {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.skills__block > * {
  flex: 1;
  margin: 0;
}

.skills__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 40px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  align-items: flex-start;
}

.skills__list li {


}