:root {
  --accent: #5b9279;
  --accent-2: #8fcb9b;
  --bg: #ffffff;
  --bg-gray: rgba(143, 128, 115, 0.1);/*rgba(16, 24, 40, 0.05);*/
  --heading: #12130f;
  --text: rgba(18, 19, 15, 0.7);
  --text-gray: rgba(18, 19, 15, 0.7);
  --border-color: var(--heading);

  --btn-bg: linear-gradient(to top, var(--accent), var(--accent-2));
  --btn-text: white;
  --btn-shadow: rgba(91, 146, 121, 0.8) 0px 11px 18px -8px;

  --btn-sec-bg: linear-gradient(to top, rgba(91, 146, 121, 0.2), rgba(143, 203, 155, 0.2));
  --btn-sec-text: var(--accent);
  --btn-sec-shadow: rgba(91, 146, 121, 0.4) 0px 11px 18px -8px;
  --btn-sec-border: 0px solid var(--accent);

  --btn-tert-text: var(--accent);

  --tag-bg: var(--bg-gray);
  --tag-text: rgba(143, 128, 115, 1);
  --tag-shadow: none;
  --tag-border: none;

  --header-bg: var(--heading);
  --header-color: white;
}

/*-----------------MAIN STYLES-----------------*/

* {
  box-sizing: border-box;
  scrollbar-width: thin;

}

html,
body {
  background: var(--bg);
  color: var(--text);
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-size: 15px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 8px 0 0 0;
}

p:first-child {
  margin-top: 0;
}

/*-----------------MAIN CLASSES-----------------*/

.center-block {
  padding: 0 16px;
  width: 100%;
  max-width: 1300px;
  margin: 160px auto 0 auto;
}

.main-block {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto 0 auto;
}

/*-----------------ELEMENT'S CLASSES-----------------*/

.btn, .btn-secondary {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  height: 40px;
  padding: 4px 24px;
  border-radius: 20px;
  transition: all .2s ease-out;
}

.btn {
  background: var(--btn-bg);
  box-shadow: var(--btn-shadow);
  color: var(--btn-text);
  margin-top: 16px;
}

.btn-secondary {
  box-shadow: var(--btn-sec-shadow);
  background: var(--btn-sec-bg);
  color: var(--btn-sec-text);
  margin-top: 16px;
  border: var(--btn-sec-border);
}

.btn-tertiary {
  color: var(--btn-tert-text);
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 20px;
}

.btn:hover{
    background: linear-gradient(to top, rgb(75, 129, 105), rgb(127, 192, 140));
    box-shadow: rgba(91, 146, 121, 0.4) 0px 8px 9px -8px;
}

.btn-secondary:hover{
    background: linear-gradient(to top, rgba(91, 146, 121, 0.3), rgba(143, 203, 155, 0.3));
    box-shadow: rgba(91, 146, 121, 0.4) 0px 8px 9px -8px;
}

.btn-tertiary:hover {
  background-color: var(--tag-bg);

}

.btn img, .btn-accent img, .btn-tertiary img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 4px;
}

.tag {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  height: 32px;
  color: var(--tag-text);
  background: var(--tag-bg);
  box-shadow: var(--tag-shadow);
  cursor: default;
  border: var(--tag-border);
}

.tag-mini {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  color: var(--tag-text);
  background: var(--tag-bg);
  box-shadow: var(--tag-shadow);
  cursor: default;
  border: var(--tag-border);
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
  height: 24px;
}

.title {
  margin-bottom: 32px;
  font-size: 52px;
  line-height: 56px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: var(--heading);
  border-left: 10px solid var(--accent-2);
  padding-left: 24px;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
  color: var(--heading);
  margin-bottom: 8px;
}

.subtitle-h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: var(--heading);
  margin-bottom: 8px;
}

.subtext {
  color: var(--text-gray);
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0px;
  margin-bottom: 12px;
  font-style: italic;
}

.social-links {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  gap: 8px;
}

.social-links a {
  background: var(--tag-bg);
  border-radius: 4px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links img {
  width: 16px;
  height: 16px;
}

/*-----------------MAIN BLOCKS-----------------*/

.header {
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  color: var(--header-color);
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header .btn {
  margin: 0;
  box-shadow: none;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__img {
  width: 40px;
  margin-right: 12px;
}

.header__menu-icons img{
  width: 20px;
  height: 20px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-transform: uppercase;
}

.header__menu-links a:hover {
  text-decoration: underline;
}

.header__menu-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.header__menu-icons a {
  padding: 4px;
  border-radius: 4px;
  background: var(--heading);
  transition: all .2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-icons a:hover {
  background: var(--tag-bg);
}

footer {

}

.footer-top {
  display: flex;
  align-items: center;
  padding: 32px 64px;
  border-top: 1px solid var(--border-color);
}

.footer-top p {
  margin-top: -4px;
  margin-bottom: 0;
}

.footer-bottom {
  padding: 32px 64px;
  border-top: 1px solid var(--border-color);
}


@media screen and (max-width: 1024px) {
  .title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }
}