:root {
  --accent: #D31D4D;
  --accent-2: #54081c;
  --accent-3: #4B73C8;
  --bg: #EBEBE9;
  --heading: #42404B;
  --text: #7D7C84;
  --text-gray: #9a98a2;
  --border-color: #42404B;


  --btn-bg: linear-gradient(180deg,#fff, #EBEBE9);
  --btn-text: var(--heading);
  --btn-shadow: rgba(101, 101, 128, 0.4) 0px 11px 18px -8px;

  --btn-accent-bg: linear-gradient(to top right, var(--accent-3), var(--accent));
  --btn-accent-text: white;
  --btn-accent-shadow: rgba(43, 44, 59, 0.8) 0px 11px 18px -8px;

  --tag-bg: var(--heading);
  --tag-text: white;
  --tag-shadow: none;
  --tag-border: none;

  --header-bg: #282828;
  --header-color: white;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;

}

html,
body {
  background: var(--bg);
  color: var(--text);
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.5;
  font-size: 15px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.center-block {
  padding: 0 16px;
  width: 100%;
  max-width: 1300px;
  margin: 160px auto 0 auto;
}

.btn, .btn-accent, .tag {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 24px;
  border-radius: 50px;
  transition: all .2s ease-out;
}

.btn {
  background: var(--btn-bg);
  box-shadow: var(--btn-shadow);
  color: var(--btn-text);
}

.tag {
  padding: 6px 18px 3px 18px;
  border-radius: 15px;
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  color: var(--tag-text);
  background: var(--tag-bg);
  box-shadow: var(--tag-shadow);
  cursor: default;
  border: var(--tag-border);
}

.tag-mini {
  border-radius: 10px;
  color: var(--tag-text);
  background: var(--text-gray);
  box-shadow: var(--tag-shadow);
  cursor: default;
  border: var(--tag-border);
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  padding: 5px 13px 4px 13px;
}

.btn:hover, .btn-accent:hover{
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

.btn-accent {
  box-shadow: var(--btn-accent-shadow);
  background: var(--btn-accent-bg);
  color: var(--btn-accent-text);
}

.btn img, .btn-accent img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 4px;
}

.title {
  margin-bottom: 32px;
  font-size: 64px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: var(--heading);
}

.subtitle {
  font-size: 20px;
  font-weight: 800;
  color: var(--heading);
}

.subtext {
  color: var(--text-gray);
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 0.9em;
}

.header {
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  color: var(--header-color);
  padding: 24px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__logo {
  display: flex;
}

footer {

}

.footer-top {
  padding: 32px 64px;
  border-top: 1px solid black;
}

.footer-bottom {
  padding: 32px 64px;
  border-top: 1px solid black;
}
