.works {

}

.works .center-block {
  display: flex;
  gap: 80px;
}

.works-head {

}

.works__header {

}

.works__blocks {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.works-project {
  display: flex;
  width: 880px;
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.1);
}

.works-project__img, .works-project__img a {
  min-width: 305px;
  height: 230px;
  overflow: hidden;

}

.works-project__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-project__text {
  padding: 16px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works-project__text h2 {

}

.works-project__year {
  color: var(--text-gray);
  margin: 4px 0 0;
  font-size: 0.8em;
}