.about-me {
  padding: 32px;
  position: relative;
  z-index: 2;
}

.about-me__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.about-me__header h1 {
  margin-bottom: 0;
}

.about-me__block {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.about-me__block p:first-child {
  margin-top: 0;
}

.about-me__text {
  color: var(--heading)
}

.about-me__img {
  min-width: max-content;
  height: 570px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.about-me__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me__signature {
  font-family: 'Eskal', cursive;
  font-size: 40px;
  line-height: 44px;
  color: #4a369d;
  opacity: 0.9;
  text-align: right;
  display: block;
  user-select: none;
  margin-top: 32px;
  letter-spacing: 0;
  font-weight: 400;
}

.about-me__header .desktop {
  display: inline;
}

.about-me__header .mobile {
  display: none;
}

.quote {
  font-style: italic;
  max-width: 500px;
  margin-bottom: 32px;
  color: var(--text);
}

.about-page__img {
  min-width: 40%;
  height: 350px;
  border: 1px solid #e9eaf1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px 2px;
  border-radius: 12px;
  overflow: hidden;
  float: right;
  margin-left: 32px;
}

.about-page__img.img-2 {
  min-width: 10%;
  height: 100px;
  float: left;
  margin-left: 0;
  margin-right: 32px;
  margin-bottom: 16px;
}

.about-page__img.img-3 {
  min-width: 30%;
  height: 250px;
  float: left;
  margin-left: 0;
  margin-right: 32px;
  margin-bottom: 16px;
}

.about-page__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-page__block {

}

.about-page__projects {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: stretch;
}

.about-page__one-project {
  border: 1px solid #e9eaf1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px 2px;
  border-radius: 12px;
  overflow: hidden;
  padding: 16px;
  flex: 1;
  min-width: 300px;
}

.about-page__one-project--img {

}

.about-page__one-project--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1600px) {
  .about-me__img {
    height: 660px;
  }
}

@media screen and (max-width: 1024px) {
  .about-me__img {
    min-width: 50%;
    height: max-content;
    display: flex;
  }

  .about-me__img img {
    flex-shrink: 0;
  }

  .about-me__block {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 16px;
  }

  .about-me__block {
    flex-direction: column-reverse;
  }

  .about-me__img {
    min-width: 50%;
    height: inherit;
    box-shadow: none;
  }

  .about-page__img {
    width: 100%;
    height: inherit;
    margin-left: 0;
    margin-bottom: 16px;
  }

  .about-page__img img {
    min-height: 100%;
    width: inherit;
    margin-bottom: -10px;
  }
}