.experience__date {
  text-align: right;
  margin-bottom: 16px
}

.experience__responsibility {
  padding-left: 20px;
  margin: 16px 0;
}

.experience__responsibility a {
  color: #8570de;
}

.experience__responsibility a:hover {
  text-decoration: underline;
}

.experience__position-icon {
  width: 27px;
  height: 27px;
}

.experience__position {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--heading);
}

.experience__company {
  display: block;
  margin-bottom: 16px;

}

.experience__company a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #8570de;
}

.experience__company a:hover {
  text-decoration: underline;
}

.experience__company img {
  width: 1em;
  height: 1em;
}

.experience__stack {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
  margin: 16px 0 0 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

  .experience-list_work {
    padding: 16px;
  }

  .timeline {
    padding: 0 !important;
    margin-bottom: 16px;
  }

  .experience-list_work {
    padding: 0;
  }

  .experience__work {
    padding: 16px;
  }

}

@media screen and (max-width: 320px) {

}


.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.timeline_events {
  width: 100%;
  position: relative;
}

.timeline_events-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  list-style: none;
  padding: 0 0 37px 0;
  margin: 0;
}

.timeline_events-list::before {
  content: "";
  width: calc(100% - 40px);
  height: 7px;
  background: #d6d7dc;
  position: absolute;
  z-index: 0;
  bottom: 14px;
  margin: 0 24px;

}

.filling-line {
  display: block;
  width: 0;
  height: 7px;
  background: linear-gradient(to right, #dbd2fa 75%, #8570de);
  position: absolute;
  z-index: 0;
  bottom: 14px;
  margin: 0 24px;
  transition: 0.4s width ease;
}

.timeline_events-list li{
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
}

.timeline_events-list li .marker {
  content: "✓";
  font-size: 14px;
  width: 28px;
  height: 28px;
  background-color: #dbd2fa;
  border-radius: 18px;
  position: absolute;
  top: 34px;
  left: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.4s all ease;
}

.timeline_events-list li .marker img {
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: 0.4s all ease;
}

.timeline_events-list li.selected ~ li .marker {
  content: "";
  background-color: #d6d7dc;
}

.timeline_events-list li.selected ~ li .marker img {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.timeline_events-list li.selected {
  cursor: inherit;
}

.timeline_events-list li.selected .marker {
  content: "•";
  background-color: #8570de;
}

.timeline_events-list li.selected .marker img {
  filter: grayscale(100%) brightness(0.1) invert(100%);
}

.timeline_content {

}

.experience-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.experience-list .experience-list_work {
  transform: translateX(-100%);
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.experience-list .experience-list_work.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.experience-list .experience-list_work.enter-right,
.experience-list .experience-list_work.leave-right {
  animation-name: tl-enter-right;
}
.experience-list .experience-list_work.enter-left,
.experience-list .experience-list_work.leave-left {
  animation-name: tl-enter-left;
}
.experience-list .experience-list_work.leave-right,
.experience-list .experience-list_work.leave-left {
  animation-direction: reverse;
}

@keyframes tl-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes tl-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}