.experience {

}

.experience__header span{
  color: #A6B097;
}

.experience__timeline {

}

.experience__timeline-point {
  display: flex;
  gap: 32px;
}

.experience__date {
  width: calc(30% - 32px);
  text-align: right;
  padding: 4px 32px 16px 0;
  margin: 0;
  border-right: 2px solid var(--border-color);
  position: relative;
  top: 4px;
}

.experience__date::after {
  content:url("data:image/svg+xml,<svg width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><circle cx='10' cy='10' r='8' fill='rgb(27,27,27)'/></svg>");
  position: absolute;
  border-radius: 50%;
  background: var(--bg);
  border: 2px solid var(--border-color);
  width: 20px;
  height: 20px;
  right: -13px;
  top: 0px;
}

.experience__date p {
  background-size: cover;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.experience__date .subtitle {
  color: var(--heading);
}

.experience__date .text {
  font-style: italic;
}

.experience__timeline-point:last-child {
  margin-bottom: 64px;
}

.experience__timeline-point:last-child .experience__work {
  margin-bottom: 0px;
}

.experience__timeline-point:last-child .experience__stack {
  margin-bottom: 0;
}

.experience__timeline-point:last-child .experience__date::before {
  content: "";
  width: 1px;
  height: 48px;
  border-right: 2px dashed var(--border-color);
  position: absolute;
  right: -2px;
  bottom: -48px;
}

.experience__work {
  width: calc(70% - 32px);
  padding-top: 8px;
  margin-bottom: 48px;

}

.experience__position-icon {
  width: 27px;
  height: 27px;
}

.experience__position {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--heading);
}

.experience__company a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.experience__company img {
  width: 1em;
  height: 1em;
}

.experience__stack {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
  margin: 16px 0 0 0;
  flex-wrap: wrap;
}

.experience__stack li {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .experience__date {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    border: none;
    position: relative;
    top: 4px;
  }

  .experience__work {
    width: 100%;
    padding: 16px;
    background-color: white;
    border: 1px solid #e9eaf1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px 2px;
  border-radius: 0 0 12px 12px;
    margin-top: 0;
    margin-bottom: 32px;
  }

  .experience__timeline-point {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-left: 2px solid var(--border-color);
    padding-left: 16px;
  }

  .experience__date::after {
    right: inherit;
    left: -29px;
    top: 0px;
  }

  .experience__date p {
    text-align: left;
    border: none;
    padding: 16px;
    border-radius: 12px 12px 0 0;
  }

  .experience__timeline-point:last-child .experience__date::before {
    content: none;

  }
}

@media screen and (max-width: 320px) {

}

