.people {

}

.people .main-block_background {

}

.people__header {
  color: var(--heading);
}

.people__header--description {

}

.people__reviews {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.people__message {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 16px;
  background: white;
  border: 1px solid #e9eaf1;
  border-radius: 12px;
  padding: 24px;
  position: relative;
  flex: 1;
}


.people__user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.people__user_icon {
  background: #e3dcf6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.people__user h2 {
  color: var(--heading);
}

.people__profession {
  margin: 0;
  font-weight: 900;
}

.people__link {
  padding: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.people__link img {
  width: 24px;
  height: 24px;
}

.people__avatar {
  position: absolute;
  bottom: -16px;
  right: -16px;
  overflow: hidden;
  min-width: 80px;
  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.people__avatar img {
  height: 100%;

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .people__text{
    margin-top: 16px;
  }

  .people__avatar {
    align-items: inherit;
  }

  .people__avatar > div {
    overflow: hidden;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .people__avatar > div {
    overflow: hidden;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }

  .people__message-block {
  margin-left: 12px;
}
}
