.people {

}

.people .main-block_background {

}

.people__header {
  color: var(--heading);
}

.people__header--description {

}

.people__reviews {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.people__message {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 16px;
  background: white;
  border: 1px solid #e9eaf1;
  border-radius: 12px;
  padding: 24px;
  position: relative;
  flex: 1;
  min-width: 300px;
}


.people__user {
  display: flex;
  gap: 12px;
  align-items: center;
}

.people__user_icon {
  background: #e3dcf6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.people__user h2 {
  color: var(--heading);
}

.people__profession {
  margin: 0;
  font-weight: 900;
}

.people__link {
  padding: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.people__link img {
  width: 24px;
  height: 24px;
}

.people__avatar {
  position: absolute;
  bottom: -16px;
  right: -16px;
  overflow: hidden;
  min-width: 80px;
  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.people__avatar img {
  height: 100%;

}

@media screen and (max-width: 1024px) {
  .people__reviews {

  }
  .people__avatar {
    position: relative;
    bottom: 0px;
    right: 0;
  }

  .people__user_icon {
    display: none;
  }

  .people__user {

  }

}

@media screen and (max-width: 768px) {
  .people__text{
    margin-top: 16px;
  }

  .people__avatar {
    min-width: 60px;
    height: 60px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 500px) {
  .people__avatar {

  }

  .people__message-block {
    margin-left: 12px;
  }
}
