.skills {
  position: relative;
  z-index: 1;
}

.skills:before {
  content: "";
  background: linear-gradient(132deg, #00abff 0.00%, #7eecdb 100.00%);
  width: 34%;
  padding-top: 34%;
  left: 29%;
  top: 94%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
  z-index: -1;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  list-style: none;
}

.why-me {
  position: relative;
  z-index: 2;
}

.why-me:before {
  content: "";
  background: linear-gradient(132deg, #f03a3a 0.00%, #c74ad3 100.00%);
  width: 34%;
  padding-top: 34%;
  right: 0;
  top: 95%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
  z-index: -1;
}

.why-me__block {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.why-me__block > div:first-child {
  max-width: 1000px;
}

.why-me__img {
  height: 660px;
  flex-shrink: 0;
  background: #e6e6e9;
  border-radius: 18px;
  overflow: hidden;
}

.why-me__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-me__text {
  margin-bottom: 32px;
}

.why-me__list {
  margin: 0;
  padding: 0;
  flex: 1;
}

.why-me__list li {
  display: flex;

  flex-direction: column;
  color: var(--heading);
  position: relative;
  margin-bottom: 32px;
}

.why-me__list li span {
  display: block;
}

.why-me__reason-title {
  font-weight: 800;
  color: #4a369d;
}

.why-me__reason {
  max-width: 720px;

}

.why-me__list li::before {
  content: "✓";
  background: #8570de;
  color: white;
  font-size: 14px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0px;
}

.why-me__list li span {
  padding-left: 45px;
}

@media screen and (max-width: 1599px) {
  .why-me__img {
    height: 570px;
  }
}


@media screen and (max-width: 1024px) {
  .why-me__img {
    height: auto;
    width: 300px;
  }
}


@media screen and (max-width: 768px) {
  .skills__block {
    flex-direction: column;
  }

  .why-me__block {
    flex-direction: column;
  }

  .why-me__img {
    width: 100%;
    height: auto;
  }

  .why-me::before {
    width: 78%;
    padding-top: 78%;
  }

  .skills::before {
    width: 78%;
    padding-top: 78%;
  }
}