.skills {
  padding: 16px;
}

.skills .center-block {
  border-radius: 18px;
}

.skills__header {
  color: var(--heading);
  border-left-color: #E6ECEA;
}

.skills__header span {
  color: #58595b;
}

.skills__block {
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.skills__block > * {
  flex: 1;
  margin: 0;
}

.skills__block .subtitle {
  display: flex;
  align-items: center;
  color: white;
  background: var(--heading);
  padding: 16px 32px;
  border-radius: 18px;
}

.skills__block .subtitle img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

.skills__why-me {
  display: flex;
  gap: 16px;
  margin: 16px 0;
  flex-wrap: wrap;
  padding: 0;
  counter-reset: list;
}

.skills__why-me li {
  min-width: 250px;
  flex: 1;
  display: flex;
  align-items: center;
  background: white;
  color: var(--heading);
  padding: 16px;
  border-radius: 16px;
  counter-increment: list;
  position: relative;
}

.skills__why-me li span{
  position: relative;
}

.skills__why-me li::before {
  content: counter(list);
  background: var(--heading);
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  padding: 6px 9px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 17px);
  left: 15px;
  color: rgb(247, 247, 250);
}

.skills__why-me li span {
  padding-left: 40px;
}

.skills__stack-text {
  background: var(--heading);
  color: white;
  padding: 32px;
  border-radius: 18px;
}

.skills__list2 {
  padding: 24px;
  border: 1px solid #e9eaf1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px 2px;
  border-radius: 12px;
}

.skills__list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  margin: 16px 0;
  background: white;
  padding: 32px;
  border-radius: 18px;
}

@media screen and (max-width: 768px) {
  .skills__block {
    flex-direction: column;
  }
  .skills .center-block {
    padding: 0;
  }
}