:root {
  --accent: #12130f;
  --accent-2: #A6B097;
  --bg: #efeff1;
  --heading: #12130f;
  --text: rgba(18, 19, 15, 0.9);
  --border-color: var(--heading);
}

@font-face {
    font-family: 'Eskal';
    src: url('../public/signature.ttf') format('truetype');
}

@font-face {
    font-family: 'TaylorSans';
    src: url('../public/TaylorSans.ttf') format('truetype');
}

/*-----------------MAIN STYLES-----------------*/

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,
body {
  background: var(--bg);
  color: var(--text);
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;

}

p {
  margin: 0;
}

p:first-child {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

strong, b {
  font-weight: 800;
}

/*-----------------MAIN CLASSES-----------------*/

.center-block {
  padding: 80px 64px 64px;
  width: 100%;
  /*max-width: 1420px;*/
  margin: 0 auto ;
}

.main-block {
  padding: 0 32px;
  position: relative;
}

.main-block_background {
  background-color: var(--accent);
  background-image: url("../img/leaves-1.jpg");
  background-size: cover;
  color: white;
  border-radius: 24px;
}

.main-block_content {
  width: 100%;
  margin: 0px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: calc(100vh - 104px);
}

.banner .center-block {
  background-color: var(--accent);
  color: white;
  border-radius: 18px;
}

.banner .title {
  color: white;
}

.individ {
  background: white;
  border-radius: 18px;
  padding: 32px;

}

.individ-big {
  background: white;
  border-radius: 18px;
  padding: 64px;
}

/*-----------------ELEMENT'S CLASSES-----------------*/

.btn, .btn-secondary, .btn-tertiary {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  height: 40px;
  padding: 4px 24px;
  border-radius: 20px;
  transition: all .2s ease-out;
  gap: 8px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.btn {
  background: var(--heading);
  color: white;
}

.btn-secondary {
  background-color: rgb(243, 243, 246);
  color: var(--heading);
  border: 1px solid rgb(243, 243, 246);
  transition: all 0.4s ease-in-out;
}

.btn-tertiary {
  background: white;
  color: black;
}

.btn-secondary > * {
  z-index: 3;
}

.btn:before, .btn-tertiary:before {
  content: "";
  width: 0px;
  height: 40px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(243, 243, 246);
  transition: all 0.2s ease-in-out;
}

.btn:before {
  background: rgb(30, 31, 25);
}

.btn:hover::before, .btn-tertiary:hover::before{
  width: 100%;
}

.btn-secondary:hover {
  border-color: var(--heading);
  background-color: white;
}

.btn img, .btn-secondary img, .btn-tertiary img {
  width: 20px;
  height: 20px;
}

.tag {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  padding: 2px 12px 2px 16px;
  border-radius: 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  height: 32px;
  color: black;
  background: white;
  cursor: default;
}

.tag img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.tag-mini {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  color: black;
  background: rgb(239, 239, 243);
  cursor: default;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  padding: 2px 12px 2px 12px;
  border-radius: 12px;
  height: 24px;
}

.title {
  margin-bottom: 32px;
  font-size: 52px;
  line-height: 56px;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: var(--heading);
}

.title .span {
  background: #dbd2fa;
  color: var(--heading);
  border-radius: 12px;

}

.title span {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%,
      rgb(106, 64, 248) 65%);
    box-shadow: inset 0 -0.5em 0 rgb(188, 170, 250);
  color: var(--heading);
  border-radius: 12px;

}

.subtitle {
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
  color: var(--heading);
}

.subtitle-h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
  color: var(--heading);
}

.subtitle-h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

.subtext {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
  max-width: max-content;
}

.social-links a {
  background: #fff;
  border-radius: 50%;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a:hover {
  filter: brightness(90%);
}

.social-links img {
  width: 18px;
  height: 18px;
}

.goto-up {
  position: fixed;
  bottom: 4px;
  right: 4px;
  height: auto;
  padding: 16px;
  border-radius: 50%;
  border: none;
  background: #8570de;
  z-index: 999;
  cursor: pointer;
}

.goto-up img {
  width: 30px;
  height: 30px;
}

/*-----------------MAIN BLOCKS-----------------*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
  z-index: 999;
  position: relative;
}

.header .btn {
  margin: 0;
  box-shadow: none;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__name {
  display: flex;
  align-items: center;
}

.header__img {
  width: 40px;
  margin-right: 12px;
}

.header__menu-icons img{
  width: 28px;
  height: 28px;
  filter: invert(100%);
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__menu-lang:hover {
  text-decoration: underline;
}

.header__menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.header__menu-links a:hover {
  text-decoration: underline;
}

.header__menu-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  gap: 4px;
}

.header__menu-icons a {
  border-radius: 4px;
  transition: all .2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-icons a:hover {
  filter: invert(20%);
}

footer {
  padding: 16px 32px 32px;
  display: flex;
  gap: 18px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 64px;
  gap: 32px;
  background: white;
  color: black;
  border-radius: 18px;
  flex: 1;
  max-width: 350px;
}

.footer__title {
  margin-bottom: 24px;
}

.footer__title .subtitle {
  color: var(--heading);
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DADADC;
  flex-wrap: wrap;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__contact-icon {
  background: #8570de;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contact-icon img{
  width: 20px;
  height: 20px;
}

.footer__contact-dt, .footer__contact-dd {
  margin-bottom: 0;
}

.footer__contact-dd {
  color: #4a369d;
}

.footer-bottom {
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.footer__sitemap {
  display: flex;
  gap: 16px;
}

.footer__sitemap a:hover {
  text-decoration: underline;
}

.footer__attention {
  border-radius: 18px 18px 0 0;
}

.footer__attention .subtitle-h3 {
  color: #4a369d;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.footer__attention .subtitle-h3 span {
  background: #8570de;
  border-radius: 50%;
  min-width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.footer__attention .subtitle-h3 img {
   width: 20px;


}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

@media screen and (max-width: 1200px) {

  .footer__contacts {
    gap: 32px;
  }

}

@media screen and (max-width: 1024px) {
  .title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 8px;
  }

  .subtitle-h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .center-block {
    max-width: 100%;
    padding: 48px 32px 32px;
  }

  .header {
    padding: 16px;
  }

  .footer-top {
    padding: 32px;
  }

  .footer-bottom {
    padding: 32px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__attention {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 26px;
    line-height: 32px;
  }

  .main-block {
    padding: 8px;
  }

  .main-block_background {
    border-radius: 12px;
  }

  .center-block {
    padding: 32px 16px 16px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 40px;
    padding: 8px;
    gap: 8px;

  }

  .header__logo {
    grid-column: 1;
  }

  .header__menu {
    grid-column: 2;
    grid-row: 1;
    justify-content: right;
  }

  .header__menu-links {
    grid-row: 2;
    grid-column: 1 / 3;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid white;
  }

  .header__img {
    width: 20px;
    margin-right: 5px;
  }

  .header__menu {
    display: flex;
    align-items: center;
    min-width: max-content;
    gap: 4px;
  }

  .header .btn {
    display: inline-flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    height: 30px;
    padding: 4px 6px;
    border-radius: 20px;
    transition: all .2s ease-out;
    gap: 8px;
  }

  footer {
    flex-direction: column;
    padding: 16px;
  }

  .footer-top {
    max-width: 100%;
    padding: 16px;
  }

  .footer-bottom  {
    padding: 16px;
    font-size: 14px;
  }

  .footer-bottom .social-links {

  }

  .footer__sitemap {
    gap: 4px;
  }

  .footer__attention {
    padding: 0;
  }

  .footer__attention .subtitle-h3 {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    grid-row: 1;
    grid-column: 1 / 3;
    justify-content: space-between;
  }

  .header__menu {

  }

  .header__menu-links {

  }
}

@media screen and (max-width: 320px) {
  .title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .subtitle {
    font-size: 22px;
    line-height: 28px;
  }

  .center-block {
    padding: 24px 16px 16px;
  }

  .footer-bottom  {
    flex-direction: column;
  }

  .footer__sitemap {
    width: 100%;
    justify-content: space-between;
  }

  .header__menu-lang {
    display: none;
  }
}