:root {
  --accent: #2D423B;
  --accent-2: #A6B097;
  --bg: #ffffff;
  --bg-gray: rgba(45, 56, 69, 0.1);/*rgba(16, 24, 40, 0.05);*/
  --heading: #12130f;
  --text: rgba(18, 19, 15, 0.7);
  --text-gray: rgba(18, 19, 15, 0.7);
  --border-color: var(--heading);

  --btn-bg: #A6B097;
  --btn-text: black;
  --btn-shadow: rgba(91, 146, 121, 0.8) 0px 11px 18px -8px;

  --btn-sec-bg: var(--accent);
  --btn-sec-text: white;
  --btn-sec-shadow: rgba(91, 146, 121, 0.4) 0px 11px 18px -8px;
  --btn-sec-border: 0px solid var(--accent);

  --btn-tert-text: var(--accent);

  --tag-bg: #A6B097;
  --tag-text: black;
  --tag-shadow: none;
  --tag-border: none;

  --header-bg: var(--accent);
  --header-color: white;
}

/*-----------------MAIN STYLES-----------------*/

* {
  box-sizing: border-box;
  scrollbar-width: thin;

}

html,
body {
  background: var(--bg);
  color: var(--text);
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-size: 15px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 8px 0 0 0;
}

p:first-child {
  margin-top: 0;
}

/*-----------------MAIN CLASSES-----------------*/

.center-block {
  padding: 80px 64px 64px;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto ;
}

.main-block {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto 0 auto;
}

/*-----------------ELEMENT'S CLASSES-----------------*/

.btn, .btn-secondary {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  height: 40px;
  padding: 4px 24px;
  border-radius: 8px;
  transition: all .2s ease-out;
  gap: 8px;
}

.btn {
  background: var(--btn-bg);
  color: var(--btn-text);
  margin-top: 16px;
  box-shadow: 5px 5px 0px var(--accent);
  border: 2px solid var(--accent)
}

.btn-secondary {
  background-color: var(--accent);
  color: var(--btn-sec-text);
  margin-top: 16px;
  border: var(--btn-sec-border);
  box-shadow: 5px 5px 0px var(--accent-2);
}

.btn-tertiary {
  color: var(--btn-tert-text);
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 20px;

}

.btn:hover{
    filter: brightness(95%);
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0px var(--accent);

}

.btn-secondary:hover{
  box-shadow: 3px 3px 0px var(--accent-2);
  filter: brightness(95%);
  transform: translate(2px, 2px);
}

.btn-tertiary:hover {
  background-color: var(--tag-bg);

}

.btn img, .btn-secondary img {
  width: 20px;
  height: 20px;
}

.tag {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  height: 32px;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--tag-shadow);
  cursor: default;
  border: var(--tag-border);
}

.tag-mini {
  display: inline-flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  color: var(--tag-text);
  background: var(--tag-bg);
  box-shadow: var(--tag-shadow);
  cursor: default;
  border: var(--tag-border);
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
  height: 24px;
}

.title {
  margin-bottom: 32px;
  font-size: 52px;
  line-height: 56px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: var(--heading);
}

.title-2 {
  margin: 24px 0;
  font-size: 32px;
  line-height: 40px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
  color: var(--heading);
  border-left: 5px solid var(--accent-2);
  padding-left: 16px;
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 8px;
}

.subtitle-h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

.subtext {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 14px;
  margin-top: 0px;
  margin-bottom: 12px;
  font-style: italic;
}

.social-links {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  gap: 8px;
  max-width: max-content;
}

.social-links a {
  background: #fff;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a:hover {
  filter: brightness(90%);
}

.social-links img {
  width: 18px;
  height: 18px;
}

/*-----------------MAIN BLOCKS-----------------*/

.header {
  display: flex;
  justify-content: space-between;
  background: var(--header-bg);
  color: var(--header-color);
  padding: 12px;
  position: sticky;
  top: -1px;
  z-index: 999;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.header .btn {
  margin: 0;
  box-shadow: none;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__name {
  display: flex;
  align-items: center;
}

.header__img {
  width: 40px;
  margin-right: 12px;
}

.header__menu-icons img{
  width: 20px;
  height: 20px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__menu-lang:hover {
  text-decoration: underline;
}

.header__menu .btn {
  box-shadow: 5px 5px #20332d;
}

.header__menu .btn:hover {
  box-shadow: 3px 3px #20332d;
}

.header__menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-transform: uppercase;
}

.header__menu-links a:hover {
  text-decoration: underline;
}

.header__menu-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.header__menu-icons a {
  padding: 4px;
  border-radius: 4px;
  background: var(--accent);
  transition: all .2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-icons a:hover {
  filter: brightness(80%);
}

footer {
  margin-top: 16px;
  background: var(--accent);
  color: #E9E8E6;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px;
  gap: 32px;
}

.footer__contacts {
  display: flex;
  gap: 64px;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.footer__contact-icon {
  background: #E9E8E6;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contact-icon img{
  width: 20px;
  height: 20px;
}

.footer__contact-dt, .footer__contact-dd {
  margin-bottom: 0;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px;
}

.footer-bottom .social-links a {
  background: #E9E8E6;
}

.footer__sitemap {
  display: flex;
  gap: 16px;
}

.footer__sitemap a:hover {
  text-decoration: underline;
}

.footer__attention {
  padding: 16px 64px;
  background: #E9E8E6;
  color: black;
}

@media screen and (max-width: 1200px) {

  .footer__contacts {
    gap: 32px;
  }

}

@media screen and (max-width: 1024px) {
  .title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .center-block {
    max-width: 100%;
    padding: 48px 32px 32px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer__title {
    text-align: center;
  }

  .footer__attention {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 40px;
  }

  .center-block {
    padding: 32px 16px 16px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 40px;
    padding-bottom: 0;
    gap: 8px;
  }

  .header__logo {
    grid-column: 1;
  }

  .header__menu {
    grid-column: 2;
    justify-content: right;
  }

  .header__menu-links {
    grid-row: 2;
    grid-column: 1 / 3;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid white;
  }

  .header__img {
    width: 20px;
    margin-right: 5px;
  }

  .header__menu {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .header .btn {
    display: inline-flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    height: 30px;
    padding: 4px 6px;
    border-radius: 20px;
    transition: all .2s ease-out;
    gap: 8px;
  }

  .footer__contacts {
    flex-direction: column;
  }

  .footer-top {
    padding: 16px;
  }

  .footer-bottom  {
    padding: 16px;
    font-size: 14px;
  }

  .footer-bottom .social-links {
    display: none;
  }

  .footer__sitemap {
    gap: 4px;
  }

  .footer__attention {
    padding: 16px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    grid-row: 1;
    grid-column: 1 / 3;
    justify-content: space-between;
  }

  .header__menu {
    display: none;
  }

  .header__menu-links {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 320px) {
  .title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .center-block {
    padding: 24px 16px 16px;
  }

  .footer-bottom  {
    flex-direction: column;
  }

  .footer__sitemap {
    width: 100%;
    justify-content: space-between;
  }
}