.who-am-i {
  padding: 0 32px;
}

.who-am-i h1 {
  width: 100%;
  margin: 32px 0;
  border: none;
  line-height: 1.5;
}

.who-am-i h1 span {
  background: #dbd2fa;
  color: var(--heading);
  border-radius: 12px;
  padding: 0 16px;
}

.who-am-i__texts {
  margin: 32px 0;
  display: flex;
  max-width: 720px;
}

.who-am-i__creator {
  margin: 24px 0;
}

.who-am-i__description {
  flex: 1;
  display: flex;
  gap: 32px;
}

.who-am-i__text {
  padding: 24px;
  background: white;
  border-radius: 12px;
  flex: 1;
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
}

.numbers__head {
  max-width: 400px;
}

.numbers__head .subtitle {
  color: var(--heading)
}

.numbers__right {

}

.numbers__numbers {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
}

.numbers__numbers li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.numbers__numbers-numb {
  position: relative;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: var(--heading);
  padding-right: 16px;
  width: max-content;
}



.numbers__numbers-numb img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -15px;
  top: 20px;
  filter: drop-shadow( 3px 3px 0px var(--accent));
}

.numbers__numbers-numb:after, .numbers__numbers-numb:before {

  width: 4px;
  height: 16px;
  background: #A6B097;
  box-shadow: 1px -1px 0 black;
  position: absolute;
  right: 0px;
  top: 20px;
}

.numbers__numbers-numb:before {
  transform: rotate(90deg);
}

.numbers__numbers-title {
  font-size: 15px;
  line-height: 18px;
  max-width: 200px;
}


@media screen and (max-width: 1024px) {
  .who-am-i__numbers-numb {
    font-size: 44px;
    line-height: 48px;
  }

  .who-am-i__description {
    gap: 16px;
  }

  .who-am-i__texts, .who-am-i h1, .who-am-i__creator {
    padding: 16px;
  }

  .numbers {
    flex-direction: column;
  }

  .numbers__head {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .who-am-i {
    padding: 0;
  }
  .who-am-i__description {
    flex-direction: column;
  }

  .who-am-i__text {
    padding: 16px 8px 16px 8px;
  }


  .numbers {
    padding: 16px 32px;
  }
  .numbers__numbers {
    flex-wrap: wrap;
    gap: 8px;
  }
  .numbers__numbers-title {
    max-width: 180px;
  }
}

@media screen and (max-width: 420px) {
  .numbers__numbers {
    gap: 4px;
  }

  .numbers__numbers li {
    gap: 8px;
  }

  .numbers__numbers-numb {
    font-size: 32px;
    line-height: 36px;
    padding-right: 0;
  }

  .numbers__numbers-title {
    font-size: 12px;
  }
}
