.works {
  background-color: #E9E8E6;
}

.works .center-block {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
}

.works-head {
  display: flex;
  justify-content: space-between;
  min-width: 270px;
}

.works-head .btn-secondary {
  margin-top: 0
}

.works__header {
  width: 50%;
}

.works__blocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.works-page .works-project {
  display: flex;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #e9eaf1;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px 2px;
  overflow: hidden;
  position: relative;
}

.works-page .works-project__img {
  min-width: 305px;
  max-width: 305px;
  overflow: hidden;
}

.works-page .works-project__img a {
  cursor: zoom-in;
}

.works-page .works-project__text {
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.works .works-project {
  display: flex;
  overflow: hidden;
  position: relative;
  gap: 16px;
}

.works .works-project__img {
  border-radius: 12px;
  max-width: 305px;
  min-width: 305px;
  overflow: hidden;
  border: 5px solid white;
  position: relative;
}

.works .works-project__img a {
  cursor: zoom-in;
  max-width: 305px;
  overflow: hidden;
}

.works .works-project__text {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  border-radius: 12px;
  background-color: white;
}

.works .works-project__text .tag-mini {

}

.works-project__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-project__header {
  display: flex;
  align-items: flex-end;
  gap: 8px;

}

.works-project__header h2 {

}

.works-project__header-num {
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;

}

.works-project__header h2 {
  margin: 0;
  color: var(--heading);
}

.works-project__year {
  margin-bottom: 6px;
}

.works-project__text h2 {

}

.works-project__stack {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 4px;
  margin: 12px 0 0 0;
  flex-wrap: wrap;
}

.works-project__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 8px 8px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: background-color ease-in-out 0.3s;
  z-index: 3;
  cursor: pointer !important;
}

.works-project__link:hover {
  background-color: #ececec;
}

.works-project__link:hover img {

}

.works-project__link img{
  width: 24px;
  height: 24px;
  transition: all ease-in-out 0.3s;
}

.works-page {
}

.works-page--head p {
  margin-bottom: 32px;
}

.works-page .works-page__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.works-page .works-project {
  flex-direction: column;
  align-items: stretch;
}

.works-page .works-project__img {
  width: 100%;
  min-width: inherit;
  max-width: inherit;
}

.works-page .works-project {
  flex: 1;
  min-width: 310px;
}

@media screen and (max-width: 1280px) {
  .works-project__stack {
    padding-right: 30px;
    flex-wrap: wrap;
  }

  .works .center-block {
    gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .works .center-block {
    gap: 16px;
  }

  .works-head {
    min-width: 400px;
  }

  .works-project {

  }

  .works-project__img {

  }

  .works-project__text {
    padding: 16px;
  }
}

@media screen and (max-width: 768px) {
 .works .center-block {
   flex-direction: column;
 }

  .works-project {
    flex-direction: column;
    align-items: stretch;
  }

  .works-project:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .works-project__img {
    width: 100%;
    min-width: inherit !important;
    max-width: inherit !important;
  }

  .works-head {
    min-width: auto;
    width: auto;
    position: static;
  }

  .works__blocks {
    width: auto;
  }
}

@media screen and (max-width: 370px) {

}
